div.yh_record
    div.yh_chart
        a
            span 19887.23
            em 账户余额
        a
            span 19887.23
            em 服务费余额
    div.yh_proces
        p
            a
                span 20627.38
                em 线上放款总金额
            a
                span 72712.97
                em 线上还款总金额
            a
                span 145540.62
                em 充值金额
        p
            a
                span 57810.55
                em 线下放款总金额
            a
                span 34382.85
                em 线下还款总金额
            a
                span 22924
                em 提现金额