doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title 角色管理
    body
        div.yh_manage_account#manages_system_role
            div.yh_operation
                a(@click='addRole($event)') 添加
                a(@click='addRole($event)') 修改
                a(@click='deleteRole') 删除
                a(@click='Authorization') 授权
                a 新增渠道用户
                div.yh_role_search
                    input(type='text' placeholder='角色名称' onfocus="this.placeholder=''" onblur="this.placeholder='角色名称'")
                    a
                        i.iconfont.icon-search
                        em 搜索
            div.yh_table
                table
                    thead
                        tr
                            th(width='4%') 选择
                            th(width='24%') 编号
                            th(width='24%') 角色名称
                            th(width='24%') 机构识别码
                            th(width='24%') 备注
                    tbody
                        tr(v-for='(item,index) in checkboxData')
                            td
                                b
                                    label
                                        input(:id="'input-select-'+index" :name="'input-select-'+index" class="color-input-red" type="checkbox" v-model='checkboxList' :value='index')
                                        label(:for="'input-select-'+index")
                            td(v-html='item.roleId')
                            td(v-html='item.roleName')
                            td(v-html='item.orgCode')
                            td(v-html='item.roleDescription')
                div.yh_manages_checked
                    div#yh_manages_lauerpage
                    div.yh_checked_box
                        label
                            input(id='input-id' class="color-input-red" type="checkbox" name="input-id" value="" v-model='checked' @click='checkedAll')
                            label(for="input-id")
                            span 全选
                        span 删除
                        span 启用
                        span 禁止
            div#yh_authorization(style='display:none')
                div.yh_role_authorization
                    div#yh_role_naver
                        a.yh_active_authorization 系统管理
                        a 用户管理
                        a 风控管理
                        a 渠道管理
                        a 财务管理
                        a 产品管理
                        a 催债管理
                        a 设置管理
                    div.yh_Service_Opening_Settings
                        p 机构管理
                        p
                            b(v-for='(item,index) in authorization.system')
                                label
                                    input(:id="'select-system-'+index" :name="'select-system-'+index" class="color-input-red" type="checkbox" value='index')
                                    label(:for="'select-system-'+index")
                                    span(v-html='item.name')
                        p 后台账号管理
                        p
                            b(v-for='(item,index) in authorization.account')
                                label
                                    input(:id="'input-account-'+index" :name="'input-account-'+index" class="color-input-red" type="checkbox" value='index')
                                    label(:for="'input-account-'+index")
                                    span(v-html='item.name')
                        p 角色管理
                        p
                            b(v-for='(item,index) in authorization.role')
                                label
                                    input(:id="'select-role-'+index" :name="'select-role-'+index" class="color-input-red" type="checkbox" value='index')
                                    label(:for="'select-role-'+index")
                                    span(v-html='item.name')
                        p 菜单管理
                        p
                            b(v-for='(item,index) in authorization.meun')
                                label
                                    input(:id="'input-meun-'+index" :name="'input-meun-'+index" class="color-input-red" type="checkbox" value='index')
                                    label(:for="'input-meun-'+index")
                                    span(v-html='item.name')
                        p 日志管理
                        p
                            b(v-for='(item,index) in authorization.log')
                                label
                                    input(:id="'select-log-'+index" :name="'select-log-'+index" class="color-input-red" type="checkbox" value='index')
                                    label(:for="'select-log-'+index")
                                    span(v-html='item.name')
                        p 服务设置
                        p
                            b(v-for='(item,index) in authorization.service')
                                label
                                    input(:id="'input-service-'+index" :name="'input-service-'+index" class="color-input-red" type="checkbox" value='index')
                                    label(:for="'input-service-'+index")
                                    span(v-html='item.name')
                        p 业务员管理（分销）
                        p
                            b(v-for='(item,index) in authorization.salesman')
                                label
                                    input(:id="'input-salesman-'+index" :name="'input-salesman-'+index" class="color-input-red" type="checkbox" value='index')
                                    label(:for="'input-salesman-'+index")
                                    span(v-html='item.name')
            div#yh_layer_4(style='display:none')
                div.yh_manages_recharge
                    div.yh_detailed
                        p
                            span 角色名称:
                            input#roleName
                        p
                            span 机构识别码:
                            input#orgCode
                        p
                            span(style='display: block;float: left;') 备注：
                            textarea#roleDescription