doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title 贷超管理
    body
        div.yh_manage_account#manages_setup_exceeding
            div.yh_operation
                a 添加
                a 编辑
                a 删除
                a 上架
                a 下架
                div.yh_role_search.yh_user_right_input.yh_census_input(style='font-size: 14px')
                    input(type='text' placeholder='识别码' onfocus="this.placeholder=''" onblur="this.placeholder='识别码'")
                    select
                        option 状态
                        option 状态
                        option 状态
                    a.yh_button
                        i.iconfont.icon-search
                        em 搜索
            div.yh_table
                table
                    thead
                        tr
                            th(width='4%') 选择
                            th 编号
                            th 产品名
                            th 标题
                            th logo
                            th 推广链接
                            th 机构码
                            th 排序
                            th 状态
                            th 创建时间
                    tbody
                        tr(v-for='(item,index) in checkboxData')
                            td
                                b
                                    label
                                        input(:id="'input-select-'+index" :name="'input-select-'+index" class="color-input-red" type="checkbox" v-model='checkboxList' :value='index')
                                        label(:for="'input-select-'+index")
                            td(v-html='item.sik')
                            td(v-html='item.role')
                            td(v-html='item.sbm')
                            td(v-html='item.name')
                            td(v-html='item.dis')
                            td(v-html='item.sjh')
                            td(v-html='item.jksj')
                            td
                                s(v-html='item.je')
                            td(v-html='item.lx')
                div.yh_manages_checked
                    div#yh_manages_lauerpage
                    div.yh_checked_box
                        label
                            input(id='input-id' class="color-input-red" type="checkbox" name="input-id" value="" v-model='checked' @click='checkedAll')
                            label(for="input-id")
                            span 全选
                        span 删除