doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title 渠道统计
    body
        div.yh_manage_account#manages_channel_statistics
            include ../../common/census.pug
            div.yh_operation
                a 添加
                div.yh_role_search.yh_user_right_input.yh_census_input
                    input(type='text' placeholder='机构名' onfocus="this.placeholder=''" onblur="this.placeholder='机构名'")
                    input(type='text' placeholder='渠道' onfocus="this.placeholder=''" onblur="this.placeholder='渠道'")
                    s
                        input.laydate-icon.form-control.layer-date(type='text' placeholder='开始时间' onfocus="this.placeholder=''" onblur="this.placeholder='开始时间'" id='manages_time')
                        i.iconfont.icon-riqi
                    s
                        input(type='text' placeholder='截止时间' onfocus="this.placeholder=''" onblur="this.placeholder='截止时间'" id='manages_time_1')
                        i.iconfont.icon-riqi
                    a
                        i.iconfont.icon-search
                        em 搜索
            div.yh_table
                table
                    thead
                        tr
                            th(width='4%') 选择
                            th 编号
                            th 机构码
                            th 渠道名称
                            th 渠道码
                            th 注册数
                            th 隐藏数
                            th 申请订单
                            th 放款订单
                            th 放款总金额
                            th 逾期订单
                            th 结清订单
                            th 续期订单
                            th 逾期率
                            th(width="10%") 推广链接
                            th 状态
                            th 创建时间
                            th 操作
                    tbody
                        tr(v-for='(item,index) in checkboxData')
                            td
                                b
                                    label
                                        input(:id="'input-select-'+index" :name="'input-select-'+index" class="color-input-red" type="checkbox" v-model='checkboxList' :value='index')
                                        label(:for="'input-select-'+index")
                            td(v-html='item.sik')
                            td(v-html='item.role')
                            td(v-html='item.name')
                            td(v-html='item.sbm')
                            td(v-html='item.dis')
                            td(v-html='item.nl')
                            td(v-html='item.sfz')
                            td(v-html='item.zt')
                            td(v-html='item.sj')
                            td(v-html='item.dz')
                            td(v-html='item.qd')
                            td(v-html='item.ywy')
                            td(v-html='item.sb')
                            td(v-html='item.jhsj')
                            td(v-html='item.hmd')
                            td(v-html='item.jsj')
                            td.yh_button_manage
                                a 编辑
                                a 删除
                                a 启用
                                a 停用
                div.yh_manages_checked
                    div#yh_manages_lauerpage
                    div.yh_checked_box
                        label
                            input(id='input-id' class="color-input-red" type="checkbox" name="input-id" value="" v-model='checked' @click='checkedAll')
                            label(for="input-id")
                            span 全选
                        span 删除